/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


// General
a {
	color: $theme-gold;
}
a:hover {
	color: $theme-gold;
}

// Menu
.navbar-collapse {
	padding-right: 0 !important;
}
#navbar.container {
	padding: 0 !important;
}
a.name {
    background: url('../logo.png') 0 0 no-repeat !important;
    background-size: contain !important;
    display: block;
    width: 100%;
    height: 55px;
    text-indent: -10000px;
}
.custom-btn {
	text-transform: uppercase;
	font-size: 15px;
	border: 1px solid $theme-gold;
	border-radius: 4px;
	padding: 6px 20px;
	margin: 7px 0 0 7px;
}
.btn-filled {
	background-color: $theme-gold;
	color: white;
}
.btn-filled:hover {
	background-color: white;
	color: $theme-gold !important;
}
.btn-not-filled,
#drop-down-login-wrapper a {
	color: $theme-gold !important;
	background-color: white;
}
.btn-not-filled:hover {
	background-color: $theme-gold;
	color: white !important;
}
#block-block-2,
#block-drop-down-login-drop-down-login {
	float: right;
}
#drop-down-login-wrapper .dropdown {
	width: auto;
	padding: 20px 30px;
	border: 1px solid $theme-gold !important;
	right: 0;
	top: 50px !important;
	box-shadow: none !important;
	-o-border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	font-size: 15px;
	ul {
		list-style-type: none !important;
		padding-left: 0 !important;
		margin-bottom: 0;
		li {
			border-bottom: 0 none !important;
		}
	}
	.form-submit {
		margin-top: 15px !important;
		position: relative !important;
	}
}

// Mobile menu
.collapse.in {
	width: 100%;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent !important;
}
.navbar-toggle {
	position: absolute !important;
	right: 0;
}
#block-superfish-1 {
    width: inherit;
    float: right;
}

// Pre main content
.not-front {
	.div-line {
		width: 100%;
		height: 50px;
		padding: 10px 0;
		background-color: $theme-blue;
		color: white;
		font-size: 15px;
	}
	.breadcrumb {
		padding: 20px 0;
		margin-bottom: 70px;
		font-size: 15px;
		list-style: none;
		background-color: transparent !important;
		border-radius: 0;
	}
	.breadcrumb > .active {
		color: $theme-blue;
	}
}
.front {
	.header-full-width {
		background: $theme-blue;
		color: white;
	}
	.main-container {
		margin-top: 10vh;
	}
}

// Slider
#flexslider-1 {
	h1 {
		margin-top: 0;
		padding-top: 3rem;
		padding-left: 15px;
		color: white;
	}
	a {
		color: white !important;
	}
	a:hover {
		text-decoration: none !important;
		color: white !important;
	}
	.btn-filled:hover {
		color: $theme-gold !important;
	}
	p {
		padding-left: 15px;
	}
	.img-overlay {
		position: absolute;
		background: url('./images/slider-overlay.svg') 0 0 no-repeat;
		max-width: 100%;
		width: 650px;
		height: 550px;
		top: 0;
		right: 0;
	}
}
.slider-line {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    background: url('./images/slider-line.svg') 0 50% no-repeat;
}

// Page styles
.sidebar-documents {
    background-color: #f6f6f6;
    margin: 20px 0;
    padding: 10px 20px 20px;
    h2 {
    	font-size: 32px;
    	margin-top: 0 !important;
    	margin-bottom: 16px !important;
    }
    .related-documents-item {
    	font-family: 'Roboto Slab';
    }
    .related-documents-item-title {
    	margin-bottom: 5px;
    }
    .pdf,
    .doc,
    .pptx {
		padding-left: 50px;
		display: block;
		margin-left: 10px;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	.pdf {
		background: url('images/pdf.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.doc {
		background: url('images/doc.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.pptx {
		background: url('images/ppt.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.mp3 {
		background: url('images/ppt.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.related-document-item:hover {
		text-decoration: none !important;
	}
}

// Library
.library-item {
    background-color: #f6f6f6;
    margin: 10px 0;
    padding: 10px 20px 20px;
    h2 {
    	font-size: 32px;
    	margin-top: 0 !important;
    	margin-bottom: 16px !important;
    }
    h3 {
    	margin-top: 16px !important;
    }
    .pdf,
    .doc,
    .pptx {
    	display: block;
    	float: left;
    	width: 100px;
    	height: 100px;
		margin: 20px;
		text-indent: -10000px;
	}
	.pdf {
		background: url('images/pdf.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.doc {
		background: url('images/doc.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.pptx {
		background: url('images/ppt.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.mp3 {
		background: url('images/ppt.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.related-document-item:hover {
		text-decoration: none !important;
	}
}
#block-views-exp-clone-of-library-page h2 {
	font-size: 61px !important;
}



// Footer
.footer {
	border: 0 none !important;
	background-color: $theme-blue;
	color: white;
	font-size: 15px;
	a {
		color: white;
		text-transform: uppercase;
	}
	.nav > li > a:hover,
	.nav > li > a:focus {
		text-decoration: none;
		background-color: transparent;
	}
	.social {
		float: left;
		display: inline-block;
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		text-indent: -10000px;
		margin-right: 10px;
		:last-child {
			float: none;
		}
	}
	.footer-facebook {
		background: url('images/facebook.png') 0 0 no-repeat;
	}
	.footer-twitter {
		background: url('images/twitter.png') 0 0 no-repeat;
	}
	.footer-linkedin {
		background: url('images/linkedin.png') 0 0 no-repeat;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
	#superfish-1 {
		margin-top: 8px;
		font-size: 18px;
	}
	#block-superfish-1 {
		width: inherit;
		float: right;
	}
	.sf-menu li {
		background-color: white;
		padding: 7px 10px 15px;
		a {
			color: #333 !important;
		}
		a:hover {
			text-decoration: none !important;
		}
	}
	li.sf-depth-1 {
		margin-left: 20px !important;
	}
	li.sf-depth-2:first-child {
		margin-top: 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	#superfish-1 {
		margin-top: 8px;
		font-size: 18px;
	}
	#block-superfish-1 {
		width: 54% !important;
		float: left;
	}
	.sf-menu li {
		background-color: white;
		padding: 7px 9px 15px;
		a {
			color: #333 !important;
		}
		a:hover {
			text-decoration: none !important;
		}
	}
	li.sf-depth-1 {
		margin-left: 38px !important;
	}
	li.sf-depth-2:first-child {
		margin-top: 10px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

	li.sf-depth-1 {
		margin-left: 65px !important;
	}
	li.sf-depth-2:first-child {
		margin-top: 10px;
	}

}