/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


// General
a {
	color: $theme-gold;
}
a:hover {
	color: $theme-gold;
}
div#toolbar div.toolbar-shortcuts ul {
	height: 34px;
}
td, th {
	padding: 0.5rem;
}
th {
	white-space: nowrap;
}
label,
.label {
	color: #333;
	font-weight: normal;
}
.node h3 {
	margin-bottom: 0.5rem;
}
.draggable a.tabledrag-handle {
	height: 22px;
	padding: 0.25rem 0;
}

// Navigation & menu
.navbar-collapse {
	padding-right: 0 !important;
}
#navbar.container {
	padding: 0 !important;
	margin-top: 15px !important;
}
.navbar {
	margin-bottom: 10px !important; 
}
a.name {
    background: url('../logo.png') 50% 35% no-repeat !important;
    background-size: contain !important;
    display: block;
    width: 90%;
    height: 55px;
    text-indent: -10000px;
    margin-left: 15px;
}
.custom-btn,
.btn-info {
	text-transform: uppercase;
	font-size: 15px;
	border: 1px solid $theme-gold !important;
	border-radius: 4px;
	padding: 6px 10px;
	margin: 7px 7px 0 0;
	background-color: $theme-gold !important;
	color: white !important;
}
.custom-btn:hover {
	background-color: white !important;
	color: $theme-gold !important;
}
.btn-not-filled {
	color: $theme-gold !important;
	background-color: white;
}
.btn-not-filled:hover {
	background-color: $theme-gold;
	color: white !important;
}
.btn-primary {
    color: #fff !important;
    background-color: $theme-gold !important;
    border-color: $theme-gold !important;
}
.btn-primary:hover {
	background-color: white !important;
	color: $theme-gold !important;
}
#block-block-2,
#block-drop-down-login-drop-down-login {
	position: absolute;
	right: 60px;
	top: 0;
}

// Drop down login
#block-drop-down-login-drop-down-login {
	a.login {
		color: white !important;
	}
	a.login:hover {
		color: $theme-gold !important;
	}
	#drop-down-login-wrapper .dropdown {
		width: auto;
		padding: 20px 40px;
		background-color: rgba(255, 255, 255, 0.85);
		border: 0.5px solid $theme-gold !important;
		right: 0;
		top: 60px !important;
		box-shadow: none !important;
		-o-border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
		border-radius: 0px !important;
		font-size: 16px;
		font-family: 'Roboto';
		ul {
			list-style-type: none !important;
			padding-left: 0 !important;
			margin-bottom: 0;
			li {
				border-bottom: 0 none !important;
			}
		}
		.form-submit {
			margin-top: 15px !important;
			position: relative !important;
		}
	}
	#drop-down-login-wrapper.enable-dd .open span span {
	    background: none !important;
	}
}

.collapse.in {
	width: 100%;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent !important;
    margin-right: 0 !important;
}
.navbar-toggle {
	position: absolute !important;
	right: 0;
}

// Mobile menu
#block-superfish-1 {
	span.sf-depth-1:hover,
	a:hover {
		font-weight: 700 !important;
	}
    #superfish-1-toggle {
    	position: absolute;
	    z-index: 10000;
	    top: 0;
	    right: 15px;
	    width: 40px;
    	span {
    		display: block;
    		height: 40px;
    		text-indent: -10000px;
    		text-align: center;
    		background: url('images/hamburger.png') 50% 100% no-repeat;
    		background-size: 30px 30px;
    	}
    }
    #superfish-1-accordion {
    	text-align: center;
    	font-size: 14px;
	    text-transform: uppercase;
	    a {
	    	color: #333 !important;
	    }
    	li.sf-depth-1 {
    		position: relative;
	    	margin: 10px 0 0;
	    	padding-top: 15px;
	    	border-top: 1px solid $theme-lightgrey;
	    }
	    ul {
	    	margin: 7px 0;
	    }
	    li.sf-depth-2 {
	    	margin: 7px 0 0;
	    	padding: 7px 0;
	    }
	    li.sf-expanded span.sf-depth-1 {
	    	font-weight: 700;
	    }
	    span.sf-depth-1.menuparent {
			display: inline-block;
		}
	    span.sf-depth-1.menuparent.nolink.sf-with-ul:after {
			content: '\f3d0';
			line-height: 0;
			border-top: none;
			border-left: none;
			margin-top: -1px;
			font-family: 'Ionicons';
			font-size: 12px;
			position: absolute;
			top: 50%;
			right: -15px;
			opacity: 0.8;
	    }
    }
}


// Pre main content
.not-front {
	.div-line {
		width: 100%;
		height: 50px;
		padding: 10px 0;
		background-color: $theme-blue;
		color: white;
		font-size: 15px;
	}
	.breadcrumb {
		padding: 20px 0;
		margin-bottom: 40px;
		font-size: 15px;
		list-style: none;
		background-color: transparent !important;
		border-radius: 0;
	}
	.breadcrumb > .active {
		color: $theme-blue;
	}
}
.front {
	.header-full-width {
		background: $theme-blue;
		color: white;
	}
	.main-container {
		margin-top: 5vh;
		.page-header {
			font-size: 41px;
		}
		#block-block-3 {
			padding-bottom: 1.5rem;
		}
		section:nth-child(n+2) {
			border-top: 1px solid $theme-lightgrey;
		}
	}
	

	// Slider

	// .header-container.container {
	// 	margin: 0 !important;
	// 	padding: 0 !important;
	// }
	#flexslider-1 {
		p {
			margin-bottom: 0;
		}
		.custom-btn {
			margin-bottom: 10px;
			// margin-left: 15px !important;
		}
			// h1 {
			// 	margin-top: 0;
			// 	padding-top: 3rem;
			// 	padding-left: 15px;
			// 	color: white;
			// }
			// a {
			// 	color: white !important;
			// }
			// a:hover {
			// 	text-decoration: none !important;
			// 	color: white !important;
			// }
			// .btn-filled:hover {
			// 	color: $theme-gold !important;
			// }
			// p {
			// 	padding-left: 15px;
			// }
			// .img-overlay {
			// 	position: absolute;
			// 	background: url('./images/slider-overlay.svg') 0 0 no-repeat;
			// 	max-width: 100%;
			// 	width: 650px;
			// 	height: 550px;
			// 	top: 0;
			// 	right: 0;
			// }
		}
	// .slider-line {
	//     position: absolute;
	//     top: 0;
	//     left: -50px;
	//     z-index: -1;
	//     background: url('./images/slider-line.svg') 0 50% no-repeat;
	// }
}


// Page styles
.sidebar-documents {
    background-color: #f6f6f6;
    margin: 20px 0;
    padding: 10px 20px 20px;
    h2 {
    	font-size: 32px;
    	margin-top: 0 !important;
    	margin-bottom: 16px !important;
    }
    .related-documents-item {
    	font-family: 'Roboto Slab';
    }
    .related-documents-item-title {
    	margin-bottom: 5px;
    }
    .pdf,
    .doc,
    .docx,
    .pptx,
    .mp3 {
		padding-left: 50px;
		display: block;
		margin-left: 10px;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	.pdf {
		background: url('images/pdf.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.doc,
	.docx {
		background: url('images/doc.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.pptx {
		background: url('images/ppt.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.mp3 {
		background: url('images/mp3.svg') 0 25% no-repeat;
		background-size: 30px 40px;
	}
	.related-document-item:hover {
		text-decoration: none !important;
	}
	.table-striped > tbody > tr:nth-of-type(odd) {
		background-color: $theme-lightgrey !important;
	}
	.table-striped > tbody > tr:hover {
		background-color: none !important;
	}
}
.page-node-27 .sidebar-documents {
	p {
		position: relative;
		margin-left: 20px;
		a {
			font-family: 'Roboto Slab', sans-serif;
		}
		a:before {
			content: '\f1fe';
			line-height: 0;
			border-top: none;
			border-left: none;
			margin-top: 2px;
			font-family: 'Ionicons';
			font-size: 15px;
			position: absolute;
			top: 45%;
			left: -20px;
			transform: rotate(-45deg);
		}
		a:hover {
			text-decoration: none;
		}
	} 
}

// Events
#event-legend {
	span {
		margin-bottom: 10px;
	}
}
.dot-22,
.dot-23,
.dot-24,
.dot-25 {
	text-indent: -10000px;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}
.dot-22 {
	background-color: red;
}
.dot-23 {
	background-color: green;	
}
.dot-24 {
	background-color: purple;
}
.dot-25 {
	background-color: yellow;
}

// Library
#block-views-exp-clone-of-library-page {
	.block-title {
		margin-top: 0 !important;
	}
}
.library-item {
    background-color: $theme-lightgrey;
    margin: 10px 0;
    padding: 10px 20px 20px;
    h2 {
    	font-size: 32px;
    	margin-top: 0 !important;
    	margin-bottom: 16px !important;
    }
    h3 {
    	margin-top: 16px !important;
    }
    .pdf,
    .doc,
    .docx,
    .pptx,
    .mp3 {
    	display: block;
    	float: left;
    	width: 100px;
    	height: 100px;
		margin: 20px;
		text-indent: -10000px;
	}
	.pdf {
		background: url('images/pdf.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.doc,
	.docx {
		background: url('images/doc.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.pptx {
		background: url('images/ppt.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	.mp3 {
		background: url('images/mp3.svg') 0 0 no-repeat;
		background-size: 90px 90px;
	}
	audio {
		vertical-align: bottom !important;
	}
	.related-document-item:hover {
		text-decoration: none !important;
	}
	.render-preview {
		float: left;
		margin-right: 15px;
		margin-top: 10px;
	}
	.library-item-download {
		margin-top: 10px;
	}
	span.file {
		display: none;
	}
}
#block-views-exp-clone-of-library-page h2 {
	font-size: 61px !important;
}
.page-resources {
	#edit-resources-wrapper,
	#edit-field-title-value-wrapper,
	#edit-type-wrapper {
		width: 100%;
	}
	#edit-type-wrapper {
		margin-top: 0px;
	}
	#edit-type-wrapper label {
		float: left;
		margin-right: 20px;
		font-weight: 600;
	}
	#edit-type-wrapper input {
		float: left;
		margin: 8px 8px 0 8px;
	}
	select,
	#edit-field-title-value {
		width: 100%;
		clear: left;
		float: left;
		height: 40px;
		margin-bottom: 10px;
		border-radius: 4px !important;
	}
	#edit-field-title-value {
		margin-top: 1px;
		font-size: 18px;
		color: $theme-blue;
		border-color: $theme-blue;
	}
	select.drilldown-1 {
		background-color: $theme-blue;
		color: white;
		border: 0 none !important;
	}
	select.drilldown-2 {
		background-color: white;
		color: $theme-blue;
		border-color: $theme-blue;
	}
	.views-submit-button {
		display: block;
		clear: left;
		.custom-btn {
			padding: 3px 40px !important;
			margin: 7px 0 !important;
		}
	}
}

// Members directory(ies)

.view-display-id-page_1 {
	.views-exposed-form .views-exposed-widget .btn {
		margin-top: 35px;
	}
	.view-content {
		margin-top: 3rem;
	}
	.views-row {
		margin-bottom: 10px;
		background-color: $theme-lightgrey;
		padding: 1rem;
		overflow: hidden;
		h3 {
			margin-top: 0;
		}
		.views-field-picture {
			float: left;
			max-width: 55px;
			margin-right: 10px;
			img {
				border-radius: 50%;
				border: 1px solid $theme-gold;
			}
		}
		.views-field-profession-s--12 {
			clear: both;
		}
	}
}
.view-display-id-page {
	.views-field {
		padding: 0 0 15px 0;
	}
	.views-field-picture {
		float: right;
		max-width: 50%;
		img {
			border-radius: 50%;
			border: 1px solid $theme-gold;
		}
	}
}

// FAQs

.view-cp-group-faqs {
	.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
		display: none;
	}
	.ui-accordion .ui-accordion-header {
		display: block;
		cursor: pointer;
		position: relative;
		margin-top: 0 !important;
		padding: 0 !important;
		min-height: 0; /* support: IE7 */
	}
	.ui-accordion .ui-accordion-icons {
		padding-left: 0 !important;
	}
	.ui-accordion .ui-accordion-noicons {
		padding-left: .7rem !important;
	}
	.ui-accordion .ui-accordion-icons .ui-accordion-icons {
		padding-left: 0 !important;
	}
	.ui-accordion .ui-accordion-content {
		padding: 2rem 2.2rem 1rem !important;
		border-top: 0;
		overflow: auto;
	}
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		border: 0 none !important;
		background: white !important;
		color: #333 !important;
	}
	.ui-state-default a,
	.ui-state-default a:link,
	.ui-state-default a:visited {
		color: #333 !important;
	}
	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus {
		border: 0 none !important;
		background: transparent !important;
		color: #333 !important;
	}
	.ui-state-hover a,
	.ui-state-hover a:hover,
	.ui-state-hover a:link,
	.ui-state-hover a:visited {
		color: #333 !important;
	}
	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active {
		border: 0 none !important;
		background: transparent !important;
		color: #333 !important;
	}
	.ui-state-active a,
	.ui-state-active a:link,
	.ui-state-active a:visited {
		color: #333 !important;
	}
	.ui-widget-content {
		border: 0 none !important;
		background: transparent !important;
		color: #333 !important;
		font-size: 15px !important;
	}
	.ui-widget-content a {
		color: $theme-gold !important;
	}
}

// Webforms
.webform-client-form {
	textarea {
		resize: none;
	}
	.panel {
		box-shadow: none;
		border: 0 none;
	}
	.panel-default {
		border-color: none;
	}
	.panel-default > .panel-heading {
		background-color: transparent;
	}
	.panel-heading {
		padding: 2rem 0 1rem;
	}
	.panel-title {
		font-size: inherit;
		font-weight: bold;
	}
	.panel-body {
		padding: 15px 0;
		.collapsible a.panel-title:after {
			content: ' +';
			color: $theme-gold;
		}
		span.form-required {
			color: $theme-gold;
		}
	}
	.form-control {
		box-shadow: none !important;
	}
	.webform-layout-box > .form-item input {
		max-width: 100%;
	}
	.webform-layout-box.horiz > * + * {
		margin-left: 0;
		width: 100%;
	}
	.webform-layout-box.horiz > *, .webform-layout-box.equal > * {
		width: 100%;
	}
	.webform-component--civicrm-1-contact-1-fieldset-fieldset--main-office--phone-fax {
		margin-top: 1rem;
	}
}
.token-input-list {
	height: 34px !important;
	width: 100% !important;
	border: 1px solid #ccc !important;
	cursor: text;
	font-size: 14px !important;
	font-family: 'Roboto', sans-serif !important;
	margin: 0;
	padding: 4px 12px  !important;
	line-height: 1.42;
	background-color: #fff !important;
	border-radius: 4px;
	li.token-input-token {
		background-color: #fff !important;
		color: #333 !important;
		font-family: 'Roboto', sans-serif !important;
		font-weight: normal !important;
		font-size: 14px !important;
	}
}
.token-input-selected-dropdown-item {
	background-color: $theme-blue !important;
	color: white !important;
	}
.token-input-dropdown {
	font-family: 'Roboto', sans-serif;
	li:hover {
		background-color: $theme-blue !important;
		color: white !important;
	}
}


// // Pagination
// .pagination > li:first-child > a,
// .pagination > li:first-child > span {
// 	border-top: none;
// 	border-bottom: none;
// 	border-bottom-left-radius: 0px;
//     border-top-left-radius: 0px;
//     border-color: $theme-blue;
// }
// .pagination > li:last-child > a,
// .pagination > li:last-child > span {
// 	border-top: none;
// 	border-bottom: none;
//     border-bottom-right-radius: 0px;
//     border-top-right-radius: 0px;
//     border-color: $theme-blue;
// }
// .pagination > li > a,
// .pagination > li > span {
//     position: relative;
//     float: left;
//     padding: 6px 20px;
//     line-height: 1.428571429;
//     text-decoration: none;
//     color: $theme-blue;
//     background-color: #fff;
//     border-left: 1px solid $theme-blue;
//     border-right: 1px solid $theme-blue;
//     border-top: 0 none;
//     border-bottom: 0 none;
//     margin-left: -1px;
// }
// .pagination li,
// .pagination > .active > span {
// 	transform: skew(20deg);
// 	background-color: $theme-blue;
// }
// .pagination li a {
// 	transform: skew(-20deg);
// }

// Twitter feed
#block-views-tweets-block {
	position: relative;
	margin-bottom: 30px;
	.block-title {
		position: relative;
		margin-left: 14%;
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
	}
	.block-title:before {
		content: '\f243';
		line-height: 0;
		border-top: none;
		border-left: none;
		margin-top: -2px;
		font-family: 'Ionicons';
		font-size: 51px;
		position: absolute;
		top: 51%;
		left: -16%;
		opacity: 1;
		color: $theme-gold;
	}
	.tweet-info {
		margin: 30px 0 5px;
		.tweet-time {
			font-weight: 700 !important;
			font-style: normal !important;
		}
		.tweet-info {
			font-weight: 400 !important;
		}
	}
}

// Civi
.cividiscount {
	.nowrap {
		white-space: normal !important;
	}
	input#discountcode {
		margin-top: 25px !important;
	}
}

// Tables
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > tfoot > tr > td {
	white-space: normal;
}

// Footer
.footer {
	margin-top: 20px;
	border: 0 none !important;
	background-color: $theme-blue;
	color: white;
	font-size: 15px;
	text-align: center;
	a {
		color: white;
		text-transform: uppercase;
	}
	a:hover,
	a:focus,
	a:visited {
		text-decoration: none !important;
	}
	.nav > li > a:hover,
	.nav > li > a:focus {
		text-decoration: none;
		background-color: transparent;
	}
	.social {
		float: left;
		display: inline-flex;
		font-size: 35px;
		margin: 10px 30px 10px 40px;
		:last-child {
			float: none;
		}
	}
	#footer-icons {
		display: flex;
		width: 100%;
		margin-bottom: 1rem;
		justify-content: center;
	}
	// .footer-facebook {
	// 	background: url('images/facebook.png') 0 0 no-repeat;
	// }
	// .footer-twitter {
	// 	background: url('images/twitter.png') 0 0 no-repeat;
	// }
	// .footer-linkedin {
	// 	background: url('images/linkedin.png') 0 0 no-repeat;
	// }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
	// Logo position
	a.name {
		width: 100%;
		background: url('../logo.png') 10px 50% no-repeat !important;
		background-size: contain !important;
		margin-left: 0;
	}
    // Menu
    #block-superfish-1 {
		width: inherit;
		float: right;
		#superfish-1 {
			margin-top: 8px;
			font-size: 18px;
			li {
				background-color: transparent;
				padding: 7px 10px 15px;
				a {
					color: #333 !important;
				}
				a:hover {
					text-decoration: none !important;
				}
			}
			li.sf-depth-1 {
				margin-left: 14px !important;
				ul {
					background-color: $theme-lightgrey;
					border-left: 4px solid $theme-lightgrey;
					border-right: 1px solid $theme-lightgrey;
				}
			}
			li.sf-depth-2:first-child {
				margin-top: 13px;
			}
			li.sf-depth-2:last-child {
				margin-bottom: 5px;
			}
			li.sf-depth-2 {
				color: white !important;
			}
			li.sf-depth-2:hover {
				background-color: $theme-blue;
				transition: 0.3s linear;
				a {
					color: white !important;
				}
			}
			span.sf-depth-1.menuparent {
				display: inline-block;
			}
			span.sf-depth-1.menuparent.nolink.sf-with-ul:after {
				content: '\f3d0';
				line-height: 0;
				border-top: none;
				border-left: none;
				margin-top: 2px;
				font-family: 'Ionicons';
				font-size: 15px;
				position: absolute;
				top: 50%;
				right: -20px;
				opacity: 0.8;
			}
		}
	}
		
	// Nav bar
	#block-block-2,
	#block-drop-down-login-drop-down-login {
		float: right;
		position: relative;
		right: 0;
	}

	// Members directory(ies)

	.view-display-id-page_1 {
		.view-content {
			margin-top: 5rem;
		}
		.views-row {
			.views-field.views-field-id-1 {
				padding-bottom: 10px;
			}
			.views-field-picture {
				float: right;
				padding-left: 5px;
				max-width: 200px;
			}
			.views-field-profession-s--12 {
				clear: none;
			}
		}
	}

	// CiviCRM styles

	// Inputs
	.crm-container {
		.crm-select2,
		.two,
		.four,
		.six {
			width: 50%;
		}
		.eight,
		.twelve,
		.twenty,
		.medium {
			width: 75%;
		}
		.big,
		.huge,
		input.crm-form-entityref,
		.huge40,
		#helprow-current_employer {
			width: 100%;
		}
		textarea.big {
			width: 100%;
			height: 4em;
		}
		textarea.huge,
		textarea.huge40 {
			width: 100%;
			height: 16em;
		}
		textarea.huge12 {
			width: 100%;
			height: 12em;
		}
		textarea.nowrap {
			width: 100%;
			height: 4.5em;
			white-space: nowrap;
			overflow: auto;
		}
		.crm-container .bigSelect {
			width: 100%;
			height: 12em;
		}
		i.fa-times {
			margin-right: 5px;
		}
		.label {
			padding: 10px 0;
		}
	}
	.cividiscount {
		.nowrap {
			white-space: nowrap !important;
		}
		input#discountcode {
			margin-top: 0 !important;
		}
	}

	// Twitter
	#block-views-tweets-block {
		.block-title {
			margin-left: 10%;
		}
		.block-title:before {
			left: -11%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.front {
		.main-container {
			margin-top: 10vh;
		}
		// Slider
		#flexslider-1 {
			h1 {
				position: relative;
				margin-top: 0;
				padding-top: 3rem;
				padding-left: 15px;
				color: white;
			}
			a {
				color: white !important;
			}
			a:hover {
				text-decoration: none !important;
				color: white !important;
			}
			.btn-filled:hover {
				color: $theme-gold !important;
			}
			p {
				padding-left: 15px;
			}
			.img-overlay {
				position: absolute;
				background: url('./images/slider-overlay.svg') 0 0 no-repeat;
				max-width: 100%;
				width: 650px;
				height: 550px;
				top: 0;
				right: 0;
			}
		}
	}
	.not-front {
		.breadcrumb {
			margin-bottom: 70px;
		}
	}

	// Menu
	#block-superfish-1 {
		width: 54% !important;
		float: left;
		#superfish-1 {
			margin-top: 8px;
			font-size: 18px;
			li {
				padding: 7px 9px 15px;
				a {
					color: #333 !important;
				}
				a:hover {
					text-decoration: none !important;
				}
			}
			li.sf-depth-1 {
				margin-left: 38px !important;
			}
			li.sf-depth-2:first-child {
				margin-top: 13px;
			}
		}
		.sf-sub-indicator {
			display: none;
		}
	}
			
	// Buttons
	.custom-btn {
		text-transform: uppercase;
		font-size: 15px;
		border: 1px solid $theme-gold;
		border-radius: 4px;
		padding: 6px 20px;
		margin: 7px 7px 0 0;
		background-color: $theme-gold;
		color: white;
	}

	// Resource library
	.page-resources {
		#edit-resources-wrapper,
		#edit-field-title-value-wrapper,
		#edit-type-wrapper {
			width: 50%;
		}
		#edit-type-wrapper {
			margin-top: 40px;
		}
	}

	// CiviCRM styles

	// Inputs
	.crm-container {
		.crm-select2,
		.two,
		.four,
		.six {
			width: 25%;
		}
		.eight,
		.twelve,
		.twenty,
		.medium {
			width: 50%;
		}
		.big,
		.huge,
		input.crm-form-entityref,
		.huge40,
		#helprow-current_employer {
			width: 50%;
		}
		textarea.big {
			width: 50%;
			height: 4em;
		}
		textarea.huge,
		textarea.huge40 {
			width: 50%;
			height: 16em;
		}
		textarea.huge12 {
			width: 50%;
			height: 12em;
		}
		textarea.nowrap {
			width: 50%;
			height: 4.5em;
			white-space: nowrap;
			overflow: auto;
		}
		.crm-container .bigSelect {
			width: 50%;
			height: 12em;
		}
	}

	// Webforms
	.node-webform,
	.crm-public-form-item {
		width: 80%;
	}
	.webform-client-form {
		.webform-layout-box > .form-item input {
			max-width: 75%;
		}
		.form-control {
			max-width: 75%;
		}
		.token-input-list {
			width: 75% !important;
		}
	}

	// Footer

	.footer {
		margin-top: 45px;
		text-align: left;
		#footer-icons {
			display: flex;
			width: 100%;
			margin-bottom: 2rem;
			justify-content: left;
		}
		.social {
			margin-left: 0;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

	#block-superfish-1 {
		#superfish-1 {
			li.sf-depth-1 {
				margin-left: 65px !important;
			}
			li.sf-depth-2:first-child {
				margin-top: 13px;
			}
		}
	}

	// Webforms
	.node-webform,
	.crm-public-form-item {
		width: 60%;
	}
	.webform-client-form {
		.webform-layout-box > .form-item input {
			max-width: 60%;
		}
		.form-control {
			max-width: 100%;
		}
		.token-input-list {
			width: 80% !important;
		}
	}
}