/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

// Theme variables
// $theme-blue: #214C6E;


// Menu
a.name {
    background: url('../logo.png') 0 50% no-repeat !important;
    background-size: contain !important;
    display: block;
    width: 100%;
    height: auto;
    text-indent: -10000px;
}
.btn {
	float: left;
	text-transform: uppercase;
	font-size: 15px;
	border: 1px solid $theme-gold;
	border-radius: 4px;
	padding: 6px 30px;
	margin: 7px 0 0 10px;
}
.btn-filled {
	background-color: $theme-gold;
	color: white;
}
.btn-not-filled {
	color: $theme-gold;
	background-color: white;
}
#block-block-2 {
	float: right;
}

// Pre main content
.not-front {
	.div-line {
		width: 100%;
		height: 50px;
		padding: 10px 0;
		background-color: $theme-blue;
		color: white;
		font-size: 15px;
	}
	.breadcrumb {
		padding: 20px 0;
		margin-bottom: 70px;
		font-size: 15px;
		list-style: none;
		background-color: transparent !important;
		border-radius: 0;
	}
	.breadcrumb > .active {
		color: $theme-blue;
	}
}
.front {
	.header-full-width {
		background: $theme-blue;
		color: white;
	}
}

// Slider
#flexslider-1 {
	h1 {
		margin-top: 0;
		padding-top: 3rem;
		padding-left: 15px;
		color: white;
	}
	a {
		color: white !important;
	}
	a:hover {
		text-decoration: none !important;
		color: white !important;
	}
	p {
		padding-left: 15px;
	}
	.img-overlay {
		position: absolute;
		background: url('./images/slider-overlay.svg') 0 0 no-repeat;
		max-width: 100%;
		width: 650px;
		height: 550px;
		top: 0;
		right: 0;
	}
}

// Footer
.footer {
	border: 0 none !important;
	background-color: $theme-blue;
	color: white;
	font-size: 15px;
	a {
		color: white;
		text-transform: uppercase;
	}
	.nav > li > a:hover,
	.nav > li > a:focus {
		text-decoration: none;
		background-color: transparent;
	}
	.social {
		float: left;
		display: inline-block;
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
		text-indent: -10000px;
		margin-right: 10px;
		:last-child {
			float: none;
		}
	}
	.footer-facebook {
		background: url('images/facebook.png') 0 0 no-repeat;
	}
	.footer-twitter {
		background: url('images/twitter.png') 0 0 no-repeat;
	}
	.footer-linkedin {
		background: url('images/linkedin.png') 0 0 no-repeat;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
	#superfish-1 {
		margin-top: 8px;
		font-size: 15px;
		text-transform: uppercase;
	}
	.sf-menu li {
		background-color: white;
		padding: 10px 17px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { }